<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel="stylesheet" href="/index.css">
</head>

<body>

    <h1>Your dice roll results</h1>
    {{!-- the view goes into body --}}
    <div>
        {{{body}}}
    </div>
    <p>copyright 2020</p>
</body>

</html>