<h1>dice {{randomNumOne}}</h1>
<img src= {{imgNumOne}} alt="diceone" width ="100px" height="100px">

<h1>dice {{randomNumTwo}}</h1>
<img src= {{imgNumTwo}} alt="diceone" width ="100px" height="100px">