
    <div>
        <h1 class = "dice-wrapper">dice {{randomNumOne}}</h1>
        <img class="dice-wrapper" src={{imgNumOne}} alt="diceone" width="100px" height="100px">
    </div>
    <div>
        <h1>dice {{randomNumTwo}}</h1>
        <img src={{imgNumTwo}} alt="diceone" width="100px" height="100px">
    </div>
